/* Layout */

.container {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
  grid-template-areas: "a b" "c d";
}
header {
  grid-area: a;
  justify-self: center;
}
nav {
  grid-area: b;
  align-self: center;
}
article {
  grid-area: c;
  justify-self: center;
  align-self: center;
}
footer {
  grid-area: d;
}


/* Decoration */

* {box-sizing: border-box}
body {
	margin: 20px;
	background: #fff;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
	font-size: 1.2em;
}
.container {
	background: beige;
	border: 3px dotted orange;
	margin-bottom: 2em;
}
div, nav, section, article, aside, header, footer {
	padding: 10px;
	color: #fff;
}
nav {
	background: dodgerblue;
}
section {
	background: hotpink;
}
article {
  background: orange;
}
aside {
  background: olivedrab;
}
header {
  background: gray;
}
footer {
  background: crimson;
}
div:nth-of-type(3) {
	background: olivedrab;
}
div:nth-of-type(4) {
	background: hotpink;
}
div:nth-of-type(5) {
	background: slategray;
}

h1 {
	margin: 0 0 1em;
	color: #345;
	text-align: center;
  font-family: georgia, "trebuchet ms", arial, serif;
}
