/*.menu{
	padding: 0;
	li{
		list-style-type: none;
		background-color: blue;
		a{
			display: block;
			color: blue;
			padding: 1em;
			background-color: blue;
			&:hover{
				text-decoration: none;
		}
		&.last{
			color: #fff;
		}
	}
}*/
/*@media screen and (min-width: $media-query-phone-breakpoint) {
		.menu{
			display: table;
			width: 100%;
			max-width: 100%;
			li{
				display: table-cell;
				text-align: center;
			}
		}
}*/
body {
  font: 100% Helvetica, sans-serif;
  background-color: #58D3F7;
  font-size: 18px; }

header {
  font-family: 'Bangers', cursive;
  font-size: 50px;
  text-align: center; }

h2 {
  text-align: center;
  font-family: 'Alegreya', serif; }

h3 {
  text-align: center;
  font-family: 'Alegreya', serif; }

article {
  text-align: center;
  font-family: 'Alegreya', serif; }

footer {
  font-family: 'Bangers', cursive;
  text-align: center; }
